.Form__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 40px;
  }

.Form__save-button {
    padding: 0;
    width: 100%;
    height: 45px;
    border: none;
    background: #3456F3;
    border-radius: 3px;    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: white;
}

.Form__save-button:hover {
    opacity: 0.6;
  }

.Form__input-group {

}

.Form__field {
    display: block;
    width: 100%;
    padding: 0;
    padding-bottom: 10px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #E8E8E8;;
    margin-bottom: 24px;
}

.Form__field:focus{
    outline: none;
    border-bottom: 1px solid #3456F3;
}

.Form__field:invalid{
    color: #FF3055;
    border-bottom: 1px solid #E8E8E8;;
}

.Form__input-group:last-of-type {
    margin-bottom: 221px;
}

.Form__field-title {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
    margin-bottom: 5px;
}

.Form__error-message {
    display: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FF3055;
}

@media screen and (max-width: 600px) {
    .Form {
      max-width: 260px;
    }

    .Form__title {
      text-align: center;
      margin-bottom: 80px;
    }

    .Form__input-group:last-of-type {
        margin-bottom: 242px;
    }

    .Form__save-button {
        font-size: 12px;
        line-height: 15px;
    }
  }
  