.Error404 {
  margin: 246px auto 0 auto;
}

.Error404__text {
  margin: 0 auto 5px auto;
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #000000;
}

.Error404__message {
  margin: 0 auto 184px auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000000;
}

.Error404__back-button {
  margin: 0 auto;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  color: #3456F3;
  text-decoration: none;
}

.Error404__back-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .Error404 {
  }
}

@media screen and (max-width: 320px) {
  .Error404__text {
    font-size: 80px;
    line-height: 97px;
  }
  
  .Error404__message {
    font-size: 12px;
    line-height: 15px;
  }

  .Error404__back-button {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
  }
}
